@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-family-heading: "elza", sans-serif;
  --font-family-text: "elza-text", sans-serif;
  --font-family-narrow: "elza-narrow", sans-serif;
  --font-size-body: 1rem;
  --font-size-body-small: 1rem;
  --dialog-animation-delay: 2s;
  --dialog-animation-duration: 1s;
  --dialog-backdrop-background-color: #000;
  --dialog-background-color: #ffffff;
  --dialog-button-accept-all-color: #ffcc00;
  --dialog-button-accept-all-color-hover: #ffe066;
  --dialog-button-accept-all-text-color: #333333;
  --dialog-button-accept-all-text-color-hover: #333333;
  --dialog-button-accept-only-essential-color: #ffcc00;
  --dialog-button-accept-only-essential-color-hover: #ffe066;
  --dialog-button-accept-only-essential-text-color: #333333;
  --dialog-button-accept-only-essential-text-color-hover: #333333;
  --dialog-button-close-color: #ffcc00;
  --dialog-button-close-color-hover: #100029;
  --dialog-button-close-text-color: #ffffff;
  --dialog-button-close-text-color-hover: #ffffff;
  --dialog-button-preferences-color: #ffcc00;
  --dialog-button-preferences-color-hover: #ffe066;
  --dialog-button-preferences-text-color: #333333;
  --dialog-button-preferences-text-color-hover: #333333;
  --dialog-button-save-consent-color: #ffcc00;
  --dialog-button-save-consent-color-hover: #ffe066;
  --dialog-button-save-consent-text-color: #333333;
  --dialog-button-save-consent-text-color-hover: #333333;
  --dialog-button-selection-color: #ffcc00;
  --dialog-button-selection-color-hover: #100029;
  --dialog-button-selection-text-color: #ffffff;
  --dialog-button-selection-text-color-hover: #ffffff;
  --dialog-checkbox-background-color-active: #ffcc00;
  --dialog-checkbox-background-color-disabled: #e6e6e6;
  --dialog-checkbox-background-color-inactive: #e6e6e6;
  --dialog-checkbox-border-color-active: #f0c000;
  --dialog-checkbox-border-color-disabled: #e6e6e6;
  --dialog-checkbox-border-color-inactive: #81d742;
  --dialog-checkbox-check-mark-color-active: #000000;
  --dialog-checkbox-check-mark-color-disabled: #999999;
  --dialog-card-background-color: #f2f2f2;
  --dialog-card-control-element-color: #ffcc00;
  --dialog-card-control-element-color-hover: #000000;
  --dialog-card-separator-color: #e6e6e6;
  --dialog-card-text-color: #000000;
  --dialog-control-element-color: #ffcc00;
  --dialog-control-element-color-hover: #000000;
  --dialog-footer-background-color: #fafafa;
  --dialog-footer-text-color: #000000;
  --dialog-link-primary-color: #0033ff;
  --dialog-link-primary-color-hover: #000000;
  --dialog-link-secondary-color: #000000;
  --dialog-link-secondary-color-hover: #1f1f1f;
  --dialog-list-item-background-color-even: #ffffff;
  --dialog-list-item-background-color-odd: #ffffff;
  --dialog-list-item-text-color-even: #000000;
  --dialog-list-item-text-color-odd: #000000;
  --dialog-list-item-control-element-color: #ffcc00;
  --dialog-list-item-control-element-color-hover: #000000;
  --dialog-list-item-control-element-separator-color: #000000;
  --dialog-list-item-separator-color: #f0f0f0;
  --dialog-search-bar-input-background-color: #fff;
  --dialog-search-bar-input-border-color-default: #f7f7f7;
  --dialog-search-bar-input-border-color-focus: #ffcc00;
  --dialog-search-bar-input-text-color: #555;
  --dialog-separator-color: #e6e6e6;
  --dialog-switch-button-background-color-active: #ffcc00;
  --dialog-switch-button-background-color-inactive: #e6e6e6;
  --dialog-switch-button-color-active: #000000;
  --dialog-switch-button-color-inactive: #000000;
  --dialog-tab-bar-tab-background-color-active: #ffcc00;
  --dialog-tab-bar-tab-background-color-inactive: #ffffff;
  --dialog-tab-bar-tab-border-color-bottom-active: #f0c000;
  --dialog-tab-bar-tab-border-color-bottom-inactive: #e6e6e6;
  --dialog-tab-bar-tab-border-color-left-active: #f0c000;
  --dialog-tab-bar-tab-border-color-left-inactive: #e6e6e6;
  --dialog-tab-bar-tab-border-color-right-active: #f0c000;
  --dialog-tab-bar-tab-border-color-right-inactive: #e6e6e6;
  --dialog-tab-bar-tab-border-color-top-active: #f0c000;
  --dialog-tab-bar-tab-border-color-top-inactive: #e6e6e6;
  --dialog-tab-bar-tab-text-color-active: #333333;
  --dialog-tab-bar-tab-text-color-inactive: #000000;
  --dialog-table-row-background-color-even: #fafafa;
  --dialog-table-row-background-color-odd: #fafafa;
  --dialog-table-row-text-color-even: #000000;
  --dialog-table-row-text-color-odd: #000000;
  --dialog-table-row-border-color: #f0f0f0;
  --dialog-text-color: #000000;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  color: var(--dialog-text-color);
  font-family: var(--font-family-text), var(--font-geist-sans), system-ui,
    -apple-system, "Segoe UI", sans-serif;
  font-size: var(--font-size-body);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
